body {
    background-image: url("images/trees.png");
}

.navbar {
    margin-bottom: 50px;
}
h4 {
    color: black ;
    
    margin-top: 20px;
}
.col-md-12 {
    background-color: bisque;
    
    margin-bottom: 25px;
}

#logo a:link {
    text-decoration: none;

}

img {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;

}
p {
    display: inline-block;
    font-size: 13px;
    line-height: 1.5;
}

.col-lg-6 {

    background-color: aquamarine;
}
.page-footer {
    background-color:coral;
    
}

footer {
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}